@import "tailwindcss";

:root {
  --color-primary: #0a3041;
  --color-primary-hover: #0a4051;
  --color-secondary: #f5f5f5;
  --color-white: #ffffff;
  --color-text: #333333;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-white);
  font-family: var(--font-open-sauce-one), -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
