.page {
  width: 100%;
  min-height: 100vh;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.section h1 {
  font-size: 48px;
  font-weight: 600;
  color: #0a3041;
}

/* Colores alternados para visualizar las secciones */
.section:nth-child(odd) {
  background-color: #ffffff;
}

.section:nth-child(even) {
  background-color: #f5f5f5;
}
